<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>Chat - artstar10</h1>
    <div id="chat">

    </div><br>
    <input type="text" name="" id="msg"><br>
    <input type="text" name="" id="username" placeholder="Seu nome de usuário">
    <button onclick="enviar()">Enviar</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script><!-- essa versão 2.3.0 está com problemas no navegador-->
<script>
    var socket = io("http://localhost:3000");// conectando socket do backend com frontend
   
    socket.on("disconnect",() => {
        console.log("Desconectado");
    });

    function enviar(){
        let msgField = document.getElementById("msg");
        let usernameField = document.getElementById("username");

        var msg = msgField.value;
        var username = username.value; // observar aqui em caso de erro seria var username = usernameField.value
        
        socket.emit("msg", {msg: msg, username: username}); //console.log(input.value); enviando valor para backend

    }
</script>
</html>